.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 10px;
  padding: 0 20px;
  width: 100%;
  min-height: 60px;
  background-color: teal;
  border-radius: 10px;
}
.link {
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.mainBlock {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;
}
.headingOne {
  align-self: center;
  margin: 0;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  row-gap: 1em;
  padding: 2em;
}


