.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 10px;
  padding: 0 20px;
  width: 100%;
  min-height: 60px;
  background-color: teal;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.link {
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.mainBlock {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;
}

.headingOne {
  align-self: center;
  margin: 0;
  margin-bottom: 20px;
}

.inputSearch {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  min-height: 30px;
  border: 1px solid teal;
  border-radius: 5px;
}

.itemList {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  row-gap: 20px;
  list-style-type: none;
}

.addContactBlock {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 30px;
  margin-top: 5px;
  padding: 20px 5px;
  width: 100%;
  min-height: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid teal;
}

.addInput {
  display: flex;
  width: 40%;
  min-height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid teal;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 40px;
  background-color: teal;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
