.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: 40px;
  background-color: teal;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
