* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Exo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #163730;
}
ul {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Exo";
  src: url("fonts/Exo2-Bold_1.woff") format("woff"),
    url("fonts/Exo2-Medium.woff") format("woff"),
    url("fonts/Exo2-Regular.woff") format("woff");
}
